<!doctype html>
<html ng-app="autoSaveFormApp">
<head>
  <meta charset="utf-8">
  <title>Angular Auto Save Form</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css(src) auto-save-form.css -->
  <!-- inject:directive:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-controller="IndexController as vm" class="layout-row layout-align-space-around layout-padding">

<md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" class="flex-50">
  <md-tab label="Auto Save">
    <ng-form name="autoSaveForm" auto-save-form="vm.updateForm(controls)" auto-save-form-debounce="500"
             class="layout-column layout-padding">
      <ng-form name="userNameForm" class="layout-column">
        <md-input-container>
          <label>Name</label>
          <input ng-model="vm.user.name" name="name" required minlength="3"/>
        </md-input-container>
      </ng-form>
      <md-input-container>
        <label>City</label>
        <input ng-model="vm.user.city" name="city" required minlength="3"/>
      </md-input-container>
      <md-input-container>
        <label>Country</label>
        <input ng-model="vm.user.country" name="country" required minlength="3"/>
      </md-input-container>
      <md-input-container>
        <label>Language</label>
        <md-select ng-model="vm.user.language" name="language" required>
          <md-option ng-repeat="language in vm.languages" ng-value="language" ng-bind="language"></md-option>
        </md-select>
      </md-input-container>
      <md-radio-group ng-model="vm.user.gender" name="gender">
        <label>Gender</label>
        <md-radio-button value="male">Male</md-radio-button>
        <md-radio-button value="female">Female</md-radio-button>
      </md-radio-group>
    </ng-form>
  </md-tab>
  <md-tab label="Normal Save">
    <form name="normalSaveForm" auto-save-form="vm.updateNormalForm(controls, $event)" auto-save-form-mode="false"
          class="layout-column layout-padding">
      <md-input-container>
        <label>Name</label>
        <input ng-model="vm.userNormal.name" name="userNormal.name"/>
      </md-input-container>
      <md-input-container>
        <label>City</label>
        <input ng-model="vm.userNormal.city" name="userNormal.city"/>
      </md-input-container>
      <md-input-container>
        <label>Country</label>
        <input ng-model="vm.userNormal.country" name="userNormal.country"/>
      </md-input-container>
      <md-input-container>
        <label>Language</label>
        <md-select ng-model="vm.userNormal.language" name="language" required>
          <md-option ng-repeat="language in vm.languages" ng-value="language" ng-bind="language"></md-option>
        </md-select>
      </md-input-container>
      <md-radio-group ng-model="vm.userNormal.gender" name="gender">
        <label>Gender</label>
        <md-radio-button value="male">Male</md-radio-button>
        <md-radio-button value="female">Female</md-radio-button>
      </md-radio-group>
      <md-button type="submit" class="md-raised md-primary"
                 ng-disabled="normalSaveForm.$invalid || normalSaveForm.$pristine">Save
      </md-button>
    </form>
  </md-tab>
</md-tabs>

<md-whiteframe class="layout-column md-whiteframe-3dp flex-30">
  <label class="section-label">Sent changes object</label>
  <span class="layout-padding flex" ng-bind="vm.savedObject"></span>
  <div>Examples simulate $http calls</div>
</md-whiteframe>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(src) auto-save-form.js -->
<!-- inject:directive:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
